#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-result{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-text{
  margin: 20px;
}

.container{
  display: flex;
  flex-direction: column;
}

img{ 
  max-height: 150px;
  max-width: 250px;
}

a{
  color: gray;
}